:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  /* set base values */

  --text-base-size: 1.1em;
  --text-scale-ratio: 1.2;

  /* type scale */

  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-jumbo: calc(var(--text-xxxl) * 1.5);

  /* line-height */

  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  /* font-weight */

  --font-weight-bolder: 500;
  --font-weight-bold: 600;
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* text size */

.text--xxxl {
  font-size: var(--text-xxxl);
}

.jumbo {
  font-size: var(--text-jumbo);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-sm);
  text-align: center;
  letter-spacing: 0.03em;
}

@media (--viewport-sm) {
  .jumbo {
    font-size: calc(var(--text-jumbo) * 0.9);
  }
}

h1,
.text--xxl {
  font-size: var(--text-xxxl);
  font-weight: var(--font-weight-bolder);
}

h2,
.text--xl {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bolder);
}

h3,
.text--lg {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bolder);
}

h4,
.text--md {
  font-size: var(--text-md);
  font-weight: var(--font-weight-bolder);
}

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

.text-container {
  h2,
  h3,
  h4 {
    margin-top: var(--space-sm);
  }

  ul,
  ol,
  p {
    margin-bottom: var(--space-md);
  }

  ul,
  ol {
    list-style-position: outside;
    padding-left: 24px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul li,
  ol li {
    line-height: var(--body-line-height);
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }
}
