.button {
  margin: var(--space-xs);
  position: relative;
  width: calc(var(--space-xxl) * 2.5);
  & svg {
    position: absolute;
    fill: var(--color-white);
  }
}

.button-next {
  & svg {
    right: var(--space-sm);
  }
}

.button-prev {
  & svg {
    left: var(--space-sm);
  }
}

.container {
  margin-top: var(--space-lg);
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
}

@media (--viewport-xs) {
  .container {
  }

  .button {
    width: var(--space-xl);
    height: var(--space-xl);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      left: 0;
      position: relative;
    }

    & span {
      display: none;
    }
  }
}
