.content {
  padding: var(--space-md);
}

.header {
  margin-top: var(--space-sm);
  color: var(--color-white);
  text-align: center;
  margin-bottom: var(--space-xs);
}

.intro {
  max-width: var(--content-block-width);
  display: block;
  margin: 0 auto;
  text-align: center;
}
