.button {
  padding: var(--space-sm);
  border-radius: 20px;
  width: calc(var(--space-xxl) * 3);
  text-transform: uppercase;
  text-align: center;
}

.primary {
  box-shadow: inset 0 0 0 1px var(--color-white);
  background-color: var(--color-white);
  color: var(--color-gray-dark);
  transition: background-color var(--transition-standard), color var(--transition-standard),
    box-shadow var(--transition-xxl) var(--transition-cubic-standard);
}

.primary:hover {
  box-shadow: inset 0 0 0 3px var(--color-white);
  background-color: transparent;
  border-width: 3px;
  color: var(--color-white);
}

.secondary,
.secondary-dark {
  transition: box-shadow var(--transition-lg) var(--transition-cubic-standard) var(--transition-lg),
    color var(--transition-standard);
}

.secondary:hover,
.secondary-dark:hover {
  transition: box-shadow var(--transition-lg) var(--transition-cubic-standard),
    color var(--transition-standard) var(--transition-lg);
}

.secondary {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--color-white);
}

.secondary:hover {
  color: var(--color-gray-dark);
  box-shadow: inset 0 0 0 25px var(--color-white);
}

.secondary-dark {
  color: var(--color-gray-dark);
  box-shadow: inset 0 0 0 2px var(--color-gray-dark);
}

.secondary-dark:hover {
  color: var(--color-white);
  box-shadow: inset 0 0 0 25px var(--color-gray-dark);
}

.cta {
  background-color: var(--color-orange);
  color: var(--color-white);
  transition: filter var(--transition-standard);
}

.cta:hover {
  filter: brightness(0.9);
}
