{
    "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
     "ignoreFiles": [
        "./node_modules/normalize.css/normalize.css"
    ],
    "rules": {
      "no-descending-specificity": null,
      "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["extends", "ignores"]
      }
    ],
    "indentation": [2, {
      ignore: ["inside-parens"]
    }],
    "unit-whitelist": ["em", "rem", "s", "%", "px", "fr", "deg", "vh", "ms"],
    "block-closing-brace-newline-after": "always"
  }
}