.container {
  padding: var(--space-xl) 0;
  display: grid;
  grid-gap: var(--space-md);
  grid-template-columns: 4fr 8fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header text'
    'button text';
}

.text {
  color: var(--color-text);
  grid-area: text;
}

.button {
  grid-area: button;
}

.header-container {
  grid-area: header;

  & .subtitle {
    display: block;
    font-size: var(--text-xs);
  }
}

@media (--viewport-md) {
  .container {
    grid-template-areas:
      'header'
      'text'
      'button';
    grid-template-columns: 12fr;
  }

  .button {
    justify-self: center;
  }
}
