.header {
  margin-top: var(--space-md);
  color: var(--color-white);
  text-align: center;
  display: none;
}

.sub-header {
  color: var(--color-white);
}

.model-name {
  font-size: var(--text-jumbo);
}

@media (--viewport-md) {
  .header {
    margin-top: var(--space-lg);
  }
}
