.container {
  padding-top: var(--page-spacing-md);
}

.key-features {
  position: absolute;
  bottom: var(--space-xl);
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--page-width);
  display: flex;

  & .feature:last-child {
    border-bottom: 1px solid red;
  }
}

.header {
  color: var(--color-white);
  text-align: center;
}

.sub-header {
  color: var(--color-white);
}

.model-name {
  font-size: var(--text-jumbo);
}

.feature {
  display: inline-block;
  padding: 0 var(--space-md);
  border-left: 2px solid var(--color-white);
}

.feature:first-of-type {
  border-left: 0;
}

.feature-heading,
.feature-text {
  color: var(--color-white);
}

.cta-button {
  display: none;
}

@media (--viewport-md) {
  .key-features {
    width: auto;
    flex-direction: column;
    align-items: center;
    font-size: var(--text-sm);
    min-width: calc(var(--space-xxxl) * 2);
    max-width: calc(var(--space-xxxl) * 2);
    background-color: var(--gray-10-opaque);
  }

  .feature {
    width: 100%;
    box-sizing: border-box;
    padding: var(--space-l);
    border-left: 0;
    border-top: 2px solid var(--color-white);
  }

  .feature:first-of-type {
    border-top: 0;
  }

  .header {
    margin-bottom: var(--space-md);
  }

  .cta-button {
    display: block;
    padding: var(--space-l);
  }
}

@media (--viewport-sm) {
  .key-features {
    min-width: auto;
  }
}
