.page {
  min-height: 100vh;
  position: relative;
}

.gray {
  background-color: var(--gray-3);
}

.hidden {
  position: relative !important;
  width: 1px;
  overflow: hidden;
  white-space: nowrap; /* added line */
}
