.select-card {
  width: calc(var(--space-xxl) * 2.5);
  box-shadow: var(--box-shadow-md);
  padding: var(--space-md);
  transition: box-shadow var(--transition-standard);
  margin: 0 var(--space-md) var(--space-md) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-color: red;
  overflow: hidden;
}

.select-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 50%;
  width: 120%;
  height: 120%;
  transform: scale(0);
  transform-origin: top left;
  transition: transform var(--transition-standard);
  background-color: var(--orange-opaque);
  transition: all 0.5s;
  z-index: -1;
}

.select-card:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow-lg);
}

.image {
  width: calc(var(--space-xxl) * 2.5);
  margin-bottom: var(--space-sm);
}

.price {
  margin-top: auto;
  display: block;
  color: var(--color-orange);
}

.is-active::before {
  transform: scale(1);
}
