.banner {
  background: var(--color-white);
  box-shadow: var(--box-shadow-md);
  border-radius: 5px;
  padding: var(--space-sm);
  color: var(--color-text);
  z-index: 4;
  max-width: 90%;
  top: calc(var(--space-xxl) * 2);
  position: fixed;
  display: none;
}

.visible {
  display: block;
  animation-name: toggleBanner;
  animation-duration: 5s;
  animation-timing-function: var(--transition-cubic-standard);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes toggleBanner {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--space-sm) * -1));
  }
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(calc(var(--space-sm) * -1));
  }
}
