.content-container {
  background-color: var(--color-gray-dark);
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
}

.header {
  color: var(--color-white);
  margin-bottom: var(--space-md);
}

@media (--viewport-md) {
  .content-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .header {
    text-align: center;
  }
}
