.content-container {
  display: block;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  color: var(--color-text);
  & h1 {
    text-align: center;
  }
}

.image-content {
  background-color: var(--color-gray-dark);
  padding: var(--space-sm);
  position: relative;
  vertical-align: middle;
  left: 50%;
  transform: translateX(-50%);
  margin-top: var(--space-lg);
  max-width: 600px;
  display: none;

  & h1 {
    text-align: center;
    color: var(--color-white);
  }
}

@media (--viewport-md) {
  .content-container {
    display: none;
  }

  .image-content {
    display: block;
  }
}
