.icon {
  position: absolute;
  bottom: var(--component-padding);
  left: 50%;
  transform: translateX(-50%);

  & svg {
    width: calc(var(--space-lg) * 1.5);
    height: calc(var(--space-lg) * 1.5);
    fill: var(--color-white);
  }
}

.animated {
  animation-name: bounce;
  animation-duration: calc(var(--transition-xxl) * 2);
  animation-iteration-count: 3;
  animation-timing-function: var(--transition--standard);
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(-1 * var(--space-sm)));
  }
  100% {
    transform: translateY(0);
  }
}
