:root {
  --nav-item-width: calc(var(--space-xxl) * 2);
}

.nav-item[disabled] {
  & .step-number {
    background-color: var(--gray-4);
    color: var(--color-white);
  }
}

.navigation {
  padding: var(--space-md) var(--space-md) 0 var(--space-md);
  display: flex;
  justify-content: center;
}

.link-list {
  position: relative;
  justify-content: center;
  display: inline-flex;
  flex: 0 0 0;
  color: var(--color-white);
}

.step-number {
  margin: 0 auto var(--space-sm) auto;
  width: var(--space-lg);
  height: var(--space-lg);
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-gray-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-standard), color var(--transition-standard);

  & span {
    font-size: var(--text-md);
    font-weight: var(--font-weight-bolder);
  }
}

.nav-item {
  padding-bottom: var(--space-md);
  text-align: center;
  width: var(--nav-item-width);
}

.indicator {
  position: absolute;
  width: var(--nav-item-width);
  border-bottom: 5px solid var(--color-orange);
  left: 0;
  bottom: -5px;
  transition: transform var(--transition-standard);
}

.nav-text {
  transition: color var(--transition-standard);
}

.active {
  & .nav-text {
    color: var(--color-orange) !important;
  }
}

@media (--viewport-md) {
  :root {
    --nav-item-width: calc(var(--space-xxl) * 1.5);
  }
}

@media (--viewport-sm) {
  :root {
    --nav-item-width: var(--space-xl);
  }
  .nav-text {
    display: none;
  }

  .active {
    & .step-number {
      background-color: var(--color-orange);
      color: var(--color-white);
    }
  }
}
