.header {
  /* margin: var(--space-sm) auto var(--space-xs) auto; */
  text-align: center;
  max-width: var(--content-block-width);
  text-align: center;
}

.succes-text {
  opacity: 0;
  position: absolute;
}
