:root {
  --transition-unit: 100ms;
  --transition-xxs: calc(0.25 * var(--transition-unit));
  --transition-xs: calc(0.5 * var(--transition-unit));
  --transition-sm: calc(0.75 * var(--transition-unit));
  --transition-md: calc(1.25 * var(--transition-unit));
  --transition-lg: calc(2 * var(--transition-unit));
  --transition-xl: calc(3.25 * var(--transition-unit));
  --transition-xxl: calc(5.25 * var(--transition-unit));
  --transition-cubic-enter: cubic-bezier(0, 0, 0.2, 1);
  --transition-cubic-leave: cubic-bezier(0.4, 0, 1, 1);
  --transition-cubic-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-enter: var(--transition-lg) var(--transition-cubic-enter);
  --transition-leave: var(--transition-lg) var(--transition-cubic-leave);
  --transition-standard: var(--transition-lg) var(--transition-cubic-standard);
}

.form-animation-exit {
  opacity: 1;
  transform: translateX(0);
}
.form-animation-exit-active {
  opacity: 0;
  transform: translateX(2rem);
  transition-duration: var(--transition-xl);
  transition-timing-function: var(--transition-cubic-leave);
}

.title-exit {
  opacity: 1;
  transform: translateX(0);
}
.title-exit-active {
  opacity: 0;
  transform: translateX(2rem);
  transition-delay: var(--transition-xl);
  transition-duration: var(--transition-xl);
  transition-timing-function: var(--transition-cubic-leave);
}

.succes-text-enter {
  opacity: 0;
}
.succes-text-enter-active,
succes-text-enter-done {
  opacity: 1 !important;
  transition: opacity 200ms;
  transition-delay: calc(var(--transition-xl) * 2);
}

.succes-text-enter-done {
  opacity: 1;
}
