.content {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
  padding: 0 var(--component-padding);
  width: var(--page-width);
  color: var(--color-white);
  height: 100%;
}

@media (--page-width) {
  .content {
    width: 100%;
  }
}
