.grid {
  margin: var(--space-lg) 0;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.sidebar {
  margin-left: var(--space-md);
  display: flex;
  flex-direction: column;
}

@media (--viewport-md) {
  .sidebar {
    margin-left: 0;
  }

  .grid {
    flex-direction: column;
    align-items: center;
  }

  .content {
    margin-bottom: var(--space-md);
  }

  .configuration {
    order: 2;
  }

  .reset {
    order: 1;
  }
}

@media (--viewport-sm) {
  .sidebar {
    width: 100%;
  }

  .prev-next {
    order: -1;
    margin-top: 0 !important;
  }
}
