.grid {
  margin: var(--space-md) 0;
  display: flex;
}

.content {
  flex: 1 1 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

@media (--viewport-md) {
  .grid {
    flex-direction: column;
  }

  .content {
    margin-bottom: var(--space-md);
  }

  .configuration {
    order: 2;
  }

  .reset {
    order: 1;
  }
}
