.flag {
  width: var(--space-xl);
  height: var(--space-xl);
  position: fixed;
  right: 0;
  top: calc(var(--space-xxl) * 1.5);
  z-index: 2;
}

@media (--viewport-sm) {
  .flag {
    display: none;
  }
}

.layout {
  position: relative;
  overflow: hidden;
}
