.form {
  padding-bottom: var(--space-md);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fields-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--content-block-width);

  & input,
  & select {
    border: 1px solid var(--color-gray-dark);
  }
}

.header {
  text-align: center;
  margin-bottom: var(--space-sm);
  margin-top: 0;
}

.form-field {
  position: relative;
  padding: var(--space-xs);
}

.first-name,
.surname {
  width: 40%;
}

.prefix {
  width: 20%;
}

.mail,
.phone,
.zipcode,
.city {
  width: 50%;
}

.submit {
  display: block;
  width: calc(var(--space-xxl) * 5);
  margin: var(--space-md) auto;
}

.select {
  width: 100%;
}

.buttonPrefix {
  display: block;
  margin: 0 auto;
  max-width: 30em;
  margin-top: var(--space-md);
  color: var(--gray-6);
  text-align: center;
}

@media (--viewport-sm) {
  .form-field {
    width: 100%;
  }

  .submit {
    width: 100%;
  }
}
