.half-hero-container {
  min-height: calc(var(--vh, 1vh) * 100);

  /* max-height: calc(var(--vh, 1vh) * 100); */
  grid-template-rows: 50vh 50vh;
  display: grid;
}

@media (--viewport-md) {
  .half-hero-container {
    grid-template-rows: calc(var(--vh, 1vh) * 100) auto;
    max-height: inherit;
  }
}

.half-hero-container.remain-split-view {
  grid-template-rows: 60vh auto;
}

.half-hero-container.custom-height-seventy {
  grid-template-rows: 70vh auto;
}

.half-hero-container.custom-height-seventy,
.half-hero-container.remain-split-view {
  @media (--viewport-sm) {
    grid-template-rows: 50vh inherit;
  }
}

.image-container {
  position: relative;
}

.image-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
