.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-container {
  flex: 1 1 auto;
  height: auto;
  display: flex;
}

.dealer-container {
  width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
  flex: 0 0 calc(100% / 3);
}

.dealer-list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-container {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dealer-information {
  padding: var(--space-sm);
}

.dealer-info-row {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-xs);
}

.dealer-info-row:last-of-type {
  margin-bottom: var(--space-md);
}

.dealer-icon {
  margin-right: var(--space-xs);
}

@media (--viewport-md) {
  .flex-container {
    flex-direction: column;
  }

  .map-container {
    min-height: calc(var(--space-xxl) * 5);
    order: 1;
  }

  .dealer-container {
    order: 2;
  }

  .dealer-list {
    position: relative;
  }
}
