.container {
  min-height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-columns: 40vw 60vw;
}

.image-container {
  background: var(--color-gray-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 80%;
  height: 80%;
}

@media (--viewport-md) {
  .container {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
    max-height: inherit;
  }
}
