.container {
  background-color: var(--color-gray-dark);
}

.grid {
  min-height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  display: grid;
  margin: 0 auto;
  max-width: var(--page-width);
  grid-template-areas: 'image content';
  grid-template-columns: 50%;
}

.background-white {
  background: var(--color-white);
}

.image-right {
  & .grid {
    grid-template-areas: 'content image';
  }

  & .image-container {
    justify-content: flex-start;
  }
}

.image-container {
  grid-area: image;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content-container {
  grid-area: content;
}

.image {
  width: 500px;
  height: 800px;
}

@media (--viewport-md) {
  .grid,
  .image-right .grid {
    max-height: inherit;
    grid-template-areas:
      'image'
      'content';
    grid-template-columns: 100vw 100vw;
  }

  .grid {
    grid-template-rows: auto auto;
  }

  .image {
    width: 300px;
    height: 500px;
  }

  .image-container {
    align-self: flex-end;
    justify-content: center;
  }
}
