.header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--space-md) var(--space-md) 0 var(--space-md);
  align-items: center;
}

.header-dark {
  background-color: var(--color-gray-dark);
}

.logo-desktop {
  width: calc(var(--space-md) * 7);
  height: auto;
  display: block;
}

.logo-mobile {
  width: calc(var(--space-md) * 2);
  height: auto;
  display: none;
}

.link {
  text-transform: uppercase;
  color: var(--color-white);
}

.hamburger-container {
  position: relative;
  justify-self: end;
  display: flex;
  align-items: center;

  & .link {
    margin-right: var(--space-xl);
    white-space: nowrap;
  }
}

.link-container {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

  & .link {
    margin-right: var(--space-xl);
  }

  & .link:last-of-type {
    margin-right: 0;
  }
}

@media (--viewport-md) {
  .link-container {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .logo-desktop {
    display: none;
  }
}
