.grid {
  display: flex;
  flex-wrap: wrap;

  & li {
    display: flex;
  }
}

@media (--viewport-xs) {
  .grid {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .grid li {
    width: 100%;
  }
}

@media (--viewport-md) {
  .grid {
    justify-content: center;
  }
}
