.icon {
  position: fixed;
  top: var(--space-lg);
  right: var(--space-xl);
  z-index: 3;
  opacity: 0;
  transition: opacity var(--transition-xxl) var(--transition-cubic-leave);

  & svg {
    width: calc(var(--space-lg) * 1.5);
    height: calc(var(--space-lg) * 1.5);
    fill: var(--color-white);
  }
}

.visible {
  transition: opacity var(--transition-xxl) var(--transition-cubic-enter);
  opacity: 1;
}

@media (--viewport-md) {
  .icon {
    display: none;
  }
}
