.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  padding: var(--space-md) var(--space-md) 0 var(--space-md);
  display: flex;
  justify-content: center;
  z-index: 10;
}

.dark {
  background: var(--color-gray-dark);
  opacity: 0.9;
}

.link {
  height: 100%;
  text-transform: uppercase;
  color: var(--color-white);
  margin-right: var(--space-md);
  margin-bottom: var(--space-md);
}

@media (--viewport-sm) {
  .footer {
    flex-wrap: wrap;
  }
}

@media (--viewport-xs) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin-right: 0;
  }
}
