.sidebar {
  padding: var(--space-md);
  background: var(--color-gray-dark);
  width: calc(var(--space-xxl) * 4.5);
  color: var(--color-white);
}

.category {
  margin-bottom: var(--space-md);
}

.category-title {
  color: var(--color-white);
  margin-bottom: var(--space-xs);
}

.selected-item {
  display: flex;
  justify-content: space-between;

  & span {
    flex-basis: auto;
  }
}

.total-price {
  padding-top: var(--space-sm);
  border-top: 1px solid var(--color-white);
}

@media (--viewport-sm) {
  .sidebar {
    width: 100%;
  }
}
