.sidebar {
  position: relative;
  padding: var(--space-md);
  box-shadow: var(--box-shadow-md);
  width: calc(var(--space-xxl) * 4.5);
  color: var(--color-text);
}

.header {
  margin-bottom: var(--space-sm);
}

.item-list {
  margin-bottom: var(--space-md);
}

.tax-disclaimer {
  font-size: var(--text-sm);
  color: var(--gray-6);
}

.category {
  margin-bottom: var(--space-md);
}

.category-title {
  color: var(--color-text);
  font-weight: var(--font-weight-bolder);
  font-size: var(--text-md);
  margin-bottom: var(--space-xs);
}

.selected-item {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;

  & span {
    flex-basis: auto;
  }
}

.total-price {
  padding-top: var(--space-sm);
  border-top: 1px solid var(--color-white);
}

@media (--viewport-sm) {
  .sidebar {
    width: 100%;
  }
}
