.container {
  display: flex;
  margin-bottom: var(--space-md);

  & a:first-child,
  & button:first-child {
    margin-right: var(--space-md);
  }
}

@media (--viewport-sm) {
  .container {
    flex-direction: column;

    & a:first-child,
    & button:first-child {
      margin: 0 0 var(--space-md) 0;
    }
  }
}
