.container {
  display: flex;
  margin-bottom: var(--space-md);

  & button:first-of-type {
    margin-right: var(--space-md);
  }
}

@media (--viewport-sm) {
  .container {
    flex-direction: column;

    & button:first-of-type {
      margin: 0 0 var(--space-md) 0;
    }
  }
}
