.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: var(--gray-2);
  color: var(--color-text);
  cursor: pointer;
  padding: var(--space-sm);
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color var(--transition-standard);
}

.accordion:hover,
.active {
  background-color: var(--gray-1);
}

.accordion-title {
  font-size: var(--text-md);
}

.accordion-icon {
  width: var(--space-lg);
  height: var(--space-lg);
  margin-left: auto;
  transition: transform var(--transition-standard);
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  background-color: var(--color-white);
  overflow: hidden;
  transition: max-height var(--transition-standard);
}
