.container {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: var(--color-text);
  padding-bottom: var(--component-padding);

  & h1 {
    font-size: var(--text-xxl);
    margin: var(--space-md) 0 var(--space-sm);
  }
}
