.container {
  max-width: var(--form-width);
  display: block;
  margin: 0 auto;
  text-align: center;
  color: var(--color-text);

  & h2 {
    margin: var(--space-md) 0 var(--space-sm);
  }
}

@media (--viewport-md) {
  .container {
    display: none;
  }
}
